.list-overflow-container {
  border: 1px #DDDDDD solid;
  border-radius: 4px;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.article-snippet{
  background: #000;
  width:100%;
  margin:0;
}

.snippet{
  color: #ffffff;
  display:inline-block;
  margin: 0;
  /* min-width:100% */
}

.article-link{
  padding:0;
  border:none;
  width:auto;
  display:inline-block;
  background:none;
}